.fc-daygrid-day-number {
  color: black !important;
}

.fc-timegrid-axis-cushion {
  color: black !important;
}

.fc-col-header-cell-cushion {
  color: black !important;
}

.fc-timegrid-slot-label {
  color: black !important;
}

.fc-timegrid-slot {
  color: black !important;
}

.fc-toolbar-title {
  color: black !important;
}

.fc-event-title {
  color: black !important;
}

.fc-event-time {
  color: black !important;
}

.fc-scrollgrid, .fc-scrollgrid td, .fc-scrollgrid th {
  border-color: black !important;
}

.horoscope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horoscope-text {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.horoscope-text {
  color: black !important;
}

.select select {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
}

.box {
  background-color: white !important;
}

html, body {
  height: 100%;
  margin: 0;
}

